.ooohBaby {
    font-family: 'Grape Nuts', cursive !important;
    font-size: 22px;
}

.ooohBaby2 {
    font-family: 'Grape Nuts', cursive !important;
    font-size: 22px;
    font-weight: 600 !important;;
}